body{
    font-family: "Audiowide", sans-serif;
    margin: 0px;
}
section{
    
    padding-bottom: 110px ;
}
.top-banner{

         background-image: url("pictures/background\ \(2\).png");
        
}
.upper{
        margin-top: 200px;
        padding-right: 100px;
       
        width: 35%;
        padding-left: 200px;
        float: left;
            
}
img{
    
    length:500px;
    width: 500px;
   
    
    
    
}
span{
    color:white ;
}
.button{
    text-decoration: none;
    color: black;
    border-radius: 10px;
   background-image: linear-gradient(white,gray);
    padding: 5px 10px;
    font-size: 15px;
}

.text-low{

 

}
.half-width{
    width: 50%;
  
    float: left;
    
    
}
.experience-area{
    background-image: url("pictures/background\ \(1\).png");
    background-repeat: none;
    width: 50%;
    padding: 80px;
    border-right: 7px solid gray;
    float: left;
   
}  
.links{
    float: ;
}

.buttons{
    text-decoration: none;
    color: black;
    border-radius: 10px;
   background-image: linear-gradient(white,gray);
    padding: 5px 10px;
    font-size: 15px;
}